
<% include partials/_header %>
        <div class="container">
            <div class="row">
                <!-- form -->
                <div class="col-md-5">
                    <div class="card">
                        <div class="class card-body">
                            <form action="/add" method="post">
                                <div class="class form-group">
                                    <input type="text" name="sub" placeholder="Add Subject" class="form-control">
                                </div>
                                <div class="class form-group">
                                    <input type="text" name="qua" placeholder="Add Qualification" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary btn-block"> Add </button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- list -->
                <div class="col-md-7">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Subject</th>
                                <th>Qualification</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < subs.length; i++) {%>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td><%= subs[i].Subject %></td>
                                    <td><%= subs[i].Qualification %></td>
                                    <td>
                                        <a href="/update/<%= subs[i]._id %>" class="btn btn-info">Edit</a>
                                        <a href="/delete/<%= subs[i]._id %>" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                           <% }%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
 
<% include partials/_footer %>